<!DOCTYPE html>
<html>
<head>
    <title>SQL Data</title>
    <h1> Create</h1>
</head>
<hr style = "border: 1px solid #1F1F21;">
<body style="background-color:#FF9CEE;">
    <form action="/table" method="get">
        Choose any one:  
        <br>
        <br>
        <button style="background-color:#99D2FE;">Create Table</button>
    </form>
    <br>
    <form action="/input" method="get">
        <button style="background-color:#C6E5B1;">Input Data</button>
    </form>
    <br>
    <br>
    <form action="/home" method="get">
        <button style="background-color:#1F1F21; color: white;">Back</button>
    </form>
</body>
</html>