<!DOCTYPE html>
<html>
<head>
    <title>SQL Data</title>
    <h1>Home</h1>
</head>
<hr style = "border: 1px solid #1F1F21;">
<body style="background-color:#F1F7B5;">
    <form action="/create" method="get">
        <button style="background-color:#FF9CEE;">Create</button>
    </form> 
    <br>
    <form action="/read" method="get">
        <button style="background-color:#85E3FF;">Read</button>
    </form>
    <br>
    <form action="/up" method="get">
        <button style="background-color:#E7FFAC;">Update</button>
    </form>
    <br>
    <form action="/delete" method="get">
        <button style="background-color:aquamarine;">Delete</button>
    </form>
    
</body>
</html>